<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.gao.letsv">

    <application
        tools:replace="android:icon"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogoActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".MainViews.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".LoginViews.LoginActivity"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name=".RegisterViews.RegisterActivity"
            >
        </activity>
        <activity
            android:name=".FindOrChangePassword.activity_forgetpassword_inputphone"
            >
        </activity>


        <activity
            android:name=".PhraseActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity
            android:name=".Ps"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".DetailActivity"
            android:theme="@style/style"
            >
        </activity>

        <activity
            android:name=".MainViews.Fragment2Code.activity_media_player"
            android:theme="@style/Theme.Design.NoActionBar"
            >
        </activity>

        <activity android:name=".Studyword.activity_study_word_main"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".Studyword.activity_study_word_test"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".Studyword.activity_study_word_grouplist"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".activity_userpage_setting"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>
        <activity android:name=".Search_views.search_word_result_bykeyboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            >
        </activity>

        <activity
            android:name=".MainViews.Fragment2Code.readActivity" >
        </activity>>


    </application>

</manifest>
